body {
  background-color: #f1f1f1;
}
.bg-yellow {
  background: hsl(53, 47%, 93%);
}
.bg-green {
  background: hwb(120 79% 7%);
}
.bg-red {
  background: hsl(0, 29%, 92%);
}
.bg-xz {
  background: #ffdab9;
}
.bg-blue {
  background: hwb(214 82% 7%);
}
.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.container {
  width: 90%;
  margin: auto;
}
.info {
  display: flex;
}
.info-text {
  margin-top: 40px;
  margin-left: 40px;
}
